@inject ButtonService ButtonService

<Button Color="ButtonColor.Primary" Class="form-control" @onclick="OnShowModalClick">
    <Icon Name="IconName.FileEarmarkPlusFill" /> Create Note </Button>

@code {
    private void OnShowModalClick()
    {
        ButtonService.OnCreateNotePressed();
    }
}